/*********************************************
:: Home Page
********************************************/
.page-home {
  display: flex;
  flex-direction: column;

  .features-section {


    background-image: url('/images/features-bg.png');
    background-size: cover;

    .features {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;

      .feature-box {
        width: calc(50% - 40px);


        color: #fff;

        .feature-title {
          margin-top: 194px;
          color: #fff;

          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 35px;
          line-height: 150%;

          strong {
            font-weight: 700;
          }
        }

        .feature-icon {
          margin-top: 37px;
        }

        .feature-lead {
          margin-top: 18px;
          font-family: 'poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
        }

        .feature-description {
          margin-top: 8px;
          font-family: 'poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 180%;
          /* or 29px */
          letter-spacing: 0.05em;
          color: #D6E3DB;

          p {
            color: #fff;
          }
        }

        .feature-content {
          margin-top: 14px;

          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 180%;

          letter-spacing: 0.05em;

          p {
            color: #fff;
          }

          margin-bottom: 109px;
        }

        .header-button {
          display: inline-block;

          font-family: Poppins;
          font-weight: 500;
          font-size: 18px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          vertical-align: middle;

          margin-bottom: 170px;

          color: #111;

          background-color: #C8A951;

          padding: 28px 22px;

          border-radius: 4px;

          &:hover {
            background-color: #fff;
          }
        }

        .slider {
          position:relative;
          width:auto;
          height:100%;
          overflow:hidden;
          border-radius:20px;

          padding-top: 80px;
        }

        .slide{
          position:absolute;
          width:100%;
          height:100%;
          object-fit: contain;
          opacity:0;
          transition: opacity 1.5s ease-in-out, transform 2s ease;
          transform: scale(1.1);
        }

        .slide.active{
          opacity:1;
          transform: scale(1);
        }

      }

      .feature-items {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        bottom: -190px;
      }

      .feature-main {
        //position: relative;

        position: relative;

        width: calc((100%/3) - 56px);
        margin-top: 46px;
        background-color: #1F5FCC;

        border-top: 16px solid #0B3D91;
        border-bottom: 8px solid #0B3D91;

        padding: 37px 22px 22px;

        transform: translateY(50px);
        transition: all 0.8s ease-out;

        &:hover {
          transform: translateY(0);
        }



        color: #fff;

        .feature-title {
          margin-top: 37px;
          color: #fff;

          font-family: 'Poppins';
          font-weight: 400;
          font-size: 35px;
          line-height: 150%;

          strong {
            font-weight: 700;
          }
        }

        .feature-icon {
          position: absolute;
          top: -42px;
          //margin-left: 22px;
          background-color: #C8A951;
          width: 66px;
          height: 66px;
          Border-Radius: 50%;

          display: flex;
          justify-content: center; /* Centers horizontally */
          align-items: center;

        }

        .feature-lead {
          margin-top: 18px;
          font-family: 'Poppins';
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
        }

        .feature-description {
          margin-top: 8px;
          font-family: 'Inter';
          font-weight: 400;
          font-size: 15px;
          line-height: 180%;
          /* or 29px */
          letter-spacing: 0.05em;
          color: #D6E3DB;

          p {
            color: #fff;
          }
        }

        .feature-content {
          margin-top: 14px;

          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 180%;

          letter-spacing: 0.05em;

          p {
            color: #fff;
          }
        }

      }

    }

  }

  .services_section {


  }

  .about-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-bottom: 45px;

    //padding: 10px 10px;

    .about-box {
      display: flex;
      flex-direction: column;
      border: 2px solid #0B3D91;
      border-radius: 10px;


      //padding-top: 52px;
      //padding-bottom: 52px;
      padding: 52px 22px;

      box-shadow: 0 8px 20px rgba(0,0,0,0.2);

      width: calc((100%/3) - 64px);
      position: relative;

      opacity: 0;
      transform: translateY(50px);

      transition: all 0.8s ease-out;


      &.show {
        opacity: 1;
        transform: translateY(0);
      }

      .about-icon {
        position: absolute;
        height: 74px;
        width: 74px;
        background-color: #0B3D91;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        //left: calc(50% - 22px);
        justify-self: center;
        top: -38px;


        img {
          height: 40px;
          width: 40px;

          margin: auto auto;
        }
      }

      .about-title {
        font-family: Poppins;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;

        color: #1F5FCC;
      }

      .about-content {

        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;


      }

      //.about-box {
      //  margin-top: 32px;
      //  border-left: 7px solid #005C32;

      //  padding: 24px 23px 24px 30px;
      //  width: 570px;
      //  background: #D3AF5E;
      //  border-radius: 20px;

      //  border-top-left-radius: 5px;
      //  border-bottom-left-radius: 5px;

      // border-bottom-right-radius: 20px;
      //  border-top-right-radius: 20px;



      /*  p {
          margin: 0;

          font-family: 'poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 180%;
          /* or 32px */


       /*   color: #005C32;

          strong {
            font-size: 21px;
            font-weight: 600;
          }
        }
      }*/

      .about-note {
        margin-top: 16px;

        font-family: 'poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        /* or 32px */

        letter-spacing: 0.05em;

        color: #005C32;
      }

      .img-right {
        position: absolute;
        top: 50%;
        right: 20px;

        transform: translateY(-50%);
      }
    }
  }

  .benefits-section {
    padding-top: 100px;
    padding-bottom: 100px;

    background: rgba(0,92,50, 0.05);

    .content-max-width {
      display: flex;
      justify-content: space-between;
    }

    .containers {
      width: calc(50% - 30px);

      &.benefits-details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .benefits-title {
          width: 474px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 48px;

          color: #005C32;
          margin-bottom: 32px;

          strong {
            font-weight: 600;
          }
        }

        .benefits-description {
          font-family: 'poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;

          margin-bottom: 48px;
        }

        .benefits-freebies {
          display: flex;
          flex-direction: row;

          padding: 15px 20px;

          background: #005C32;
          border-radius: 16px;
          margin-bottom: 48px;

          .freebie {
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            justify-content: center;

            border-right: 1px solid rgb(217, 217, 217, 0.35);

            &:last-child {
              border-right: 0;
            }

            img {
              width: 62px;
              margin: 0 auto 16px;
            }

            span {
              font-family: 'poppins';
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 26px;
              color: #fff;
              /* identical to box height */

              text-align: center;
            }
          }
        }
        .brown {
          background: #A98A43;
          align-self: flex-start;
        }
      }

      &.left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .benefits-box {
        width: 270px;
        margin-bottom: 30px;
        border: 2px solid #005C32;
        border-radius: 5px;

        padding: 24px 24px 41px 24px;

        img {
          margin: 0 auto;
        }

      }
    }

  }

  .process-section {
    padding: 100px 0;
    background: #384A3E;

    .process-title {

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 150%;
      /* identical to box height, or 48px */
      margin-bottom: 32px;
      color: #FFFFFF;

      text-align: center;
    }

    .process-description {
      font-family: 'poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 180%;
      /* or 32px */
      margin-bottom: 64px;

      letter-spacing: 0.05em;

      color: #FFFFFF;

      text-align: center;
    }

    .process-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .process-details {
        width: calc((100% /4) - 30px);
      }

      img {
        margin-bottom: 16px;
      }

      .process-info {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        /* or 36px */
        color: #FFFFFF;
      }
    }
  }

  .we-want-you {

    .wwy-box {
      display: flex;



      div {
        width: calc(50%);
      }

      .left {
        margin-top: 60px;

        .title {
          font-family: Poppins;
          font-weight: 700;
          font-size: 36px;
          leading-trim: NONE;
          line-height: 34px;
          letter-spacing: 0%;
          text-transform: uppercase;

          color: #0B3D91;
        }

        .description {
          font-family: Inter;
          font-weight: 400;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;

          color: #111111;
        }

        .wwy-reason-box {
          display: flex;
          flex-direction: column;

          width: 100%;

          margin-top: 44px;
          .title {
            font-family: Poppins;
            font-weight: 600;
            font-size: 24px;
            leading-trim: NONE;
            line-height: 23px;
            letter-spacing: 0%;

            color: #1F5FCC;
          }

          .lead {
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;

            color: #111111;

            margin-bottom: 7px;
          }

          .reason-content {

            width: 100%;

            ul {
              list-style: none; /* Removes the default bullet */
              padding-left: 10px;

              margin-bottom: 6px;
            }


            li {
              font-family: Inter;
              font-weight: 400;
              font-size: 16px;
              leading-trim: NONE;
              line-height: 100%;
              letter-spacing: 0%;

              padding-left: 6px;

              margin-bottom: 6px;

              &::marker {
                content: "✓"; /* Standard checkmark Unicode */
                color: green; /* Sets the color to green */
                font-size: 1em; /* Optional: adjust size */
              }

            }

          }
        }
        .reason-bottom {
          font-family: Poppins;
          font-weight: 600;
          font-style: Italic;
          font-size: 18px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;

          margin: 44px 0 50px;

          width: 100%;
        }

      }

    }

    .right {

      background-image: url('/images/wewantyou.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      display: flex;
      flex-direction: column;
      min-height: 100vh;

    }

  }

  .grow-section {
    background: #1F5FCC;
    border-bottom: 12px solid #C8A951;

    //padding: 26px 0;

    padding-top: 26px;
    //padding-bottom: 100px;
    //margin-bottom: 316px;

    .grow-container {
      position: relative;
      display: flex;
      justify-content: space-between;

      .left {
        width: 50%;
         div {
           width: 498px;
         }
        img {
          position: absolute;
          height: 100%;

        }
        display: flex;
        flex-direction: column;

        .grow-title {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 48px;
          color: #C8A951;



          margin-bottom: 32px;
        }

        .grow-description {
          font-family: 'poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
          /* or 178% */

          color: #3E5463;

        }

      }

      .right {

        .grow-title {
          color: #C8A951;

          font-family: Poppins;
          font-weight: 700;
          font-size: 36px;
          leading-trim: NONE;
          line-height: 34px;
          letter-spacing: 0%;
          text-transform: uppercase;
          text-align: center;

          margin-bottom: 54px;

        }
        .contact-container {
          width: 595px;
          padding: 32px;

          background: #FFFFFF;
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
          border-radius: 8px;
          margin-bottom: 26px;
        }
      }
    }
  }

  .discover-section {
    background: #FAFBFF;
    ;

    padding-top: 100px;
    padding-bottom: 124px;
    margin-bottom: 60px;

    .discover-container {
      display: flex;
      justify-content: space-between;

      .left {
        width: 670px;
        div {
          //width: 498px;
        }
        display: flex;
        flex-direction: column;

        img {
          width: 447px;
          height: 278px;
          margin: 0 auto;
        }

        .discover-description {
          p {
            margin-top: 32px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 62px;
            /* or 155% */

            color: #005C32;

            strong {
              font-weight: 600;
            }
          }

        }

      }

      .right {
        width: 575px;
        .discover-title {
          margin-bottom: 24px;
          p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 52px;
            margin-bottom: 0;

            .strong {
              font-weight: 600;
            }

          }

        }

        .discover-note {
          font-family: 'poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }

  .hero-section {
    position: relative;

    .content-max-width {
      position: relative;
      z-index: 2;
    }

    .text {
      width: 100%;

      text-align: center;

      @media (min-width: $medium) {
        text-align: left;
      }
    }

    img,
    picture {
      width: 100%;
      max-width: 587px;
      margin: 0;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
    }

    img.watermark {
      position: absolute;
      bottom: -25px;
      left: 20px;

      width: 100px;

      @media (min-width: $medium) {
        width: 172px;
      }
    }
  }
  /********************************************/

  .services-section {
    padding: 40px 0;

    @media (min-width: $medium) {
      padding: 120px 0 60px;
      margin-top: 189px;
    }

    .services-title {
      margin-top: 32px;

      font-family: "Poppins";
      font-weight: 700;
      font-size: 36px;
      line-height: 34px;
      text-align: center;
      text-transform: uppercase;
      color: #0B3D91;

    }

    .services-description {
      margin-top: 29px;
      margin-bottom: 40px;
      //width: 544px;
      font-family: "Inter";
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      text-align: center;

      p {
        width:544px;
        margin: 0 auto;
      };


    }

    .services-items {
      display: flex;
      flex-direction: column;

      :nth-child(even) {
        //border: 1px solid black;
        .service-image {
          order: 1;
        }
      }

      :last-child {
        margin-bottom: 0px;
      }
    }

    .service-main {
      display: flex;
      flex-direction: row;
      margin-bottom: 107px;
      justify-content: space-between;

      > div {
        width: calc((100% /2) - 33px);
      }


      //:nth-child(2n) {
      //  .service-image {
      //    order: 1;
      //  }
      //  .service-content {
      //    order: 2;
      //  }
      //}

      div {
        width: calc(50% - 32px);
      }
      .service-title {
        //width: 100%;
        margin-bottom: 39px;

        font-family: Poppins;
        font-weight: 600;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 23px;
        letter-spacing: 0%;

        color: #1F5FCC;
      }
      .service-image {
        display: flex;
      }

      .service-content {
        //width: 100%;
        display: flex;
        flex-direction: column;

        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;

        .protect-button {
          margin-top: auto;
        }

      }
    }
  }
  /********************************************/

  .protect-button {
    background-color: #0B3D91;
    width: 255px;
    height: 48px;
    padding: 11px 22px;

    border-radius: 5px;

    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0%;
    text-align: center;

    color: white;


  }

  .booking-section {
    padding: 40px 0;

    background: #f8fbfc;

    @media (min-width: $medium) {
      padding: 134px 0 80px;
    }

    .text {
      margin-bottom: 40px;

      @media (min-width: $medium) {
        width: 520px;
        margin-bottom: 0;
      }

      h2 {
        margin-bottom: 40px;
      }

      h4 {
        margin-bottom: 44px;

        font-family: $font-family-1;
        font-size: 20px;
        font-weight: 400;
      }

      .button { min-width: 176px; }
    }

    .links {
      @media (min-width: $medium) {
        width: 346px;
        margin-top: 15px;
      }

      a.button {
        width: 100%;
        margin-bottom: 15px;

        text-align: left;

        background: white;

        img {
          display: inline-block;
          vertical-align: middle;
          height: 43px;
          margin: 0 23px 0 0;
        }
      }
    }
  }
  /********************************************/

  .testimonials-section {
    margin: 60px 0 80px;

    .testimonials {
      background: $color-2;

      .right {
        padding: 40px 20px 80px;

        @media (min-width: $medium) {
          padding: 40px 60px;
        }
        @media (min-width: $mediumish) {
          padding: 0 80px;
        }
      }
    }

    .contact-info {
      background: $color-1;

      .block {
        padding: 40px 20px 20px;

        @media (min-width: $medium) {
          padding: 90px 90px 70px;
        }

        h3 {
          margin: 0;

          font-weight: 600;
          letter-spacing: -0.32px;
          color: white;
        }

        p {
          font-family: $font-family-2;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: -0.24px;
          line-height: 32px;
          color: white;

          @media (min-width: $medium) {
            font-size: 22px;
          }

          // strong, b {
          //   font-weight: 600;
          // }
        }
      }
    }
  }
  /********************************************/

  .wwa-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-image: url('/images/security-group.png');
    background-repeat: no-repeat;
    background-size: contain;     /* Scales image to fill the div (may crop) */
    background-position: top;

    margin-bottom: 75px;

     div {
        width: calc(50% - 35px);
      }

    .left {
      display: flex;
      flex-direction: column;
      margin-top: 407px;
      .title {
        font-family: Poppins;
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 34px;
        letter-spacing: 0%;
        text-transform: uppercase;

        color: #0B3D91;
      }

      .quote {
        font-family: Poppins;
        font-weight: 400;
        font-style: Italic;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
      }

      .protect-button {
        margin-top: auto;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      margin-top: 415px;

    }



  }

  /********************************************/
  .clients-section {
    background-color: #1F5FCC;

    padding: 66px 0 68px;

    .client-section-title {
      font-family: Poppins;
      font-weight: 700;
      font-style: Bold;
      font-size: 36px;
      leading-trim: NONE;
      line-height: 34px;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;

      color: #C8A951;
    }

    .client-logos {
      display: flex;
      margin-top: 58px;
      justify-content: space-evenly;

      transition: transform 0.5s ease-in-out;

      img {
        width: auto;
        max-height: 93px;
      }

      .slick-track  {
        display: flex;
        align-items: center;


        .slick-slide {
          article {

            img {
              width: auto;
              max-height: 93px !important;
            }
          }

        }

      }


    }

  }

}
